/* Garant border-box */
*{
	box-sizing: border-box;
	box-shadow:none;
}
/* ==== HEADER ==== */
.header{
	background-color: white;
	height:80px;
	position: fixed;
	z-index:7;
	background-color:white;
    box-shadow: 1px 1px 0.5px lightgrey;
}
html{
	font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
}
body{
	margin:0;
	padding: 0;
	text-shadow: 1px 1px 1px lightgrey;
}
.navbar{
	justify-content: space-between;
	width: 100%;
	margin:auto;
	padding-right: 2%;	
}
.logo{
	padding-left: 0%;
	padding-right: 1%;
}
.navbar_menu{
	list-style-type: none;
    margin: 0;
    padding: 2%;
	font-size: 120%;
	
}
.navbar_menu_item{
	float:left;
	padding-right: 2%;
	padding-left: 2%;
    border-right:1px solid #2d9fe0;
}
.navbar_menu_item:hover>a{
	color:#252525;
	transition: color 1s;

}
.navbar_menu_item:last-child {
    border-right: none;
}
.navbar_menu_item_link{
	text-transform: uppercase;
	font-weight: 500;
	text-decoration:none;
	color: #2d9fe0;
	font-weight:bold;
}
.about{
	width:100%;
	height: 800px;
	padding: 5% 2% 2% 2%;
	background-color: #2d9fe0;
	background-image: url("../img/bgsb3.jpg");
	background-repeat: repeat;
	color: #2d9fe0;
}
.title{
	text-align:center;
	font-size:160%;
	position: relative;
	z-index: 5;
	text-transform:uppercase;
}
.about_txt{
	text-indent: 1.5em;
	text-align:justify;
	vertical-align:middle;
	padding: 2% 2% 2% 4%;
	font-size: 140%;
	z-index: 5;
	position: relative;
	font-weight:bold;
}
.about_img{
	margin-top: -4%;
	border-radius:50px;
	vertical-align:middle;
	margin-right:10%;
	margin-left:2%;
}
.adabyron{
	width: 80%;
	height:260px;
	margin-left:10%;
	border-radius:50px;
	padding-right:2%;
}
.aempresa{
	width: 80%;
	height:270px;
	border-radius:50px;
	margin-left:4%;
	margin-left:10%;
}
.about_title2{
	text-align:center;
	font-size:100%;
	position: relative;
	z-index: 5;
}
legend {
  font-weight:bold;
}
.contato{
	width:100%;
	height: 580px;
	padding: 5% 2% 2% 2%;
	background-image: url("../img/bgsb4.jpg");
	background-repeat: repeat;
	color: #2d9fe0;
}
.contato_txt{
	width:60%;
	text-align:left;
}
textarea{
	resize:none;
}
fieldset{
	width:50%;
	position: absolute;	
	height:300px;
	margin-left:25%;
	border-color: #2d9fe0;
}

.portfolio {
	width:100%;
	height: 550px;
	padding: 5% 2% 2% 2%;
	background-color: white;
	color: #2d9fe0;
	background-image: url("../img/bgsb3.jpg");
	background-repeat: repeat;
	color: #2d9fe0;
}
.portfolio_img{
	width: 33%;
	height: auto;
	border: 1px solid #2d9fe0;
	opacity: 1
	display: inline-block;
	position:relative;
	float:left;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius:25px;
}
.portfolio_link {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.portfolio_txt1{	
	text-align:center;
	position:absolute;
	margin-left:7.5%;
	margin-top:6%;
	background-color: #2d9fe0;
	border-radius:25px;
	width:15%;
	padding: 16px 32px;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 16px;
	box-shadow: 1px 1px 1px 1px grey;
}
.portfolio_txt2{	
	text-align:center;
	position:absolute;
	margin-left:41%;
	margin-top:6%;
	background-color: #2d9fe0;
	border-radius:25px;
	width:15%;
	padding: 16px 32px;
	color: white;
	font-size: 16px;
	transition: .5s ease;
	opacity: 0;
	box-shadow: 1px 1px 1px 1px grey;
}
.portfolio_txt3{
	text-align:center;
	position:absolute;
	margin-left:73%;
	margin-top:6%;
	background-color: #2d9fe0;
	border-radius:25px;
	width:15%;
	padding: 16px 32px;
	transition: .5s ease;
	opacity: 0;
	color: white;
	font-size: 16px;
	box-shadow: 1px 1px 1px 1px grey;
}
.portfolio_img1:hover .portfolio_img {
  opacity: 0.3;
}

.portfolio_img1:hover .portfolio_txt1 {
  opacity: 1;
}
.portfolio_img2:hover .portfolio_img {
  opacity: 0.3;
}

.portfolio_img2:hover .portfolio_txt2 {
  opacity: 1;
}
.portfolio_img3:hover .portfolio_img {
  opacity: 0.3;
}

.portfolio_img3:hover .portfolio_txt3 {
  opacity: 1;
}
.footer{
	width:100%;
	padding: 2% 2% 2% 2%;
	background-color: white;
	color: #2d9fe0;	
	background-image: url("../img/bgsb3.jpg");
	background-repeat: repeat;
	color: #2d9fe0;
}
.footer_txt{	
	text-align:center;
	
}
.footer_icons{
	color:white;
	text-align:center;
}
.fa {
	padding: 20px;
	font-size: 40px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius:50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
.servicos{
	width:100%;
	height: 540px;
	padding: 5% 2% 2% 2%;
	background-image: url("../img/bgsb4.jpg");
	background-repeat: repeat;
	color: #2d9fe0;
}
.servicos_img{
	display: block;
}
.servicos_fundo1{	
	width: 48%;
	padding: 2% 2% 2% 4%;
	float:left;
	text-align:justify;
	vertical-align:middle;
}
.servicos_txt{
	text-align:center;
	vertical-align:middle;
	padding: 2% 2% 2% 4%;
	font-size: 120%;
	z-index: 5;
	position: relative;
	font-weight:bold;
}
.carrossel{
	width:100%;
	height:662px;
	position:relative;
	z-index=-1;	
}
.wall{
	display: none;
	width: 100%;
	height: 100%;
}
.wall-1{ 
	background-image: url("../img/bg1.jpg");
	position:absolute;
}
.wall-2{ 
	background-image: url("../img/bg2.jpg");
	position:absolute;
}
.wall-3{ 
	background-image: url("../img/bg3.jpg");
	position:absolute;
}
.wallfundo{
	background-image: url("../img/bg1.jpg");
	position: absolute;
	display:block;
	z-index=-1;
}
.wall:target{
	display: block;
}
.icon{
	font-size:150%;
    color: white;
	text-shadow: 2px 2px 5px grey;
}
.iconfoward{
	top:35%;
	right:2%;
	position:relative;
	float:right;	
}
.iconback{
	top:50%;
	left:0%;
	position:relative;
}