/* Garant border-box */
*{
	box-sizing: border-box;
	box-shadow:none;
}
/* ==== HEADER ==== */
.header{
	background-color: white;
	height:80px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
body{
	margin:0;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.navbar{
	justify-content: space-between;
	width: 100%;
	margin:auto;
	position: relative;
	padding-right: 2%;
}
.logo{
	padding-left: 2%;
	padding-right: 2%;
}
.navbar_menu{
	list-style-type: none;
    margin: 0;
    padding: 2%;
	font-size: 120%;
	
}
.navbar_menu_item{
	float:left;
	padding-right: 3%;
	padding-left: 3%;
    border-right:1px solid #2d9fe0;
}
.navbar_menu_item:last-child {
    border-right: none;
}
.navbar_menu_item_link{
	text-transform: uppercase;
	font-weight: 500;
	text-decoration:none;
	color: #2d9fe0;
	font-weight:bold;
}
.about{
	width:100%;
	height: 940px;
	padding: 2% 2% 2% 2%;
	background-color: #2d9fe0;
	color: white;
}
.about_title{
	text-align:center;
	font-size:140%;
	position: relative;
	z-index: 5;
}
.about_txt{
	text-indent: 1.5em;
	text-align:justify;
	vertical-align:middle;
	padding: 2% 2% 2% 4%;
	font-size: 140%;
	z-index: 5;
	position: relative;
	font-weight:bold;
}
.adabyron{
	width: 48%;
	float:left;
	padding-right:2%;
}
.aempresa{
	width: 48%;	
	float:left;
	padding-right: 2%;
}
.omej{
	width: 48%;	
	float:left;
	padding-right: 2%;
	clear:left;
}
.servicos{
	width: 48%;	
	float:left;
	padding-right: 2%;
}
.about_title2{
	text-align:center;
	font-size:100%;
	position: relative;
	z-index: 5;
}
legend {
  font-weight:bold;
}
.contato{
	width:100%;
	height: 550px;
	padding: 2% 2% 2% 2%;
	background-color: #2d9fe0;
	color:white;
	display:block;
	position:relative;
}
.contato_txt{
	width:60%;
	text-align:left;
}
textarea{
	resize:none;
}
fieldset{
	width:50%;
	position: absolute;	
	height:300px;
	margin-left:25%;
	border-color: white;
}

.portfolio {
	width:100%;
	height: 450px;
	padding: 2% 2% 2% 2%;
	background-color: white;
	color: #2d9fe0;
}
.portfolio_title{
	text-align:center;
	font-size:140%;
	position: relative;
	z-index: 5;
}
.portfolio_img{
	width: 33%;
	border: 1px solid #2d9fe0;
}
.footer{
	width:100%;
	height: 200px;
	padding: 2% 2% 2% 2%;
	background-color: white;
	color: #2d9fe0;	
}
.footer_txt{	
	text-align:center;
	
}
.footer_icons{
	color:white;
	text-align:center;
}
.fa {
	padding: 20px;
	font-size: 40px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius:50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
.carrossel_img{
	width: 100%;
	height: auto;
	display: none;
	position: relative;	
}
.carrossel{
	max-width: 100%;
	position: relative;
	text-align: center;
}
.carrossel:after{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	content: '';
	background-color: rgba(0,0,0,0.5);
}

