
/* BUTTONS */



button {
    font-weight: bold!important; /* sobrescrever padrão do bootstrap*/
}

.posts{
    background-color: $postbutton-color;
    color: $primary-color;
    width: 9rem;}

header button{
    color: $secondary-color;
}

.container button,
footer button{
    padding: 6px 36px!important;/* sobrescrever padrão do bootstrap*/
    margin: 1%;
}
footer button{
    width: 75%;
}