/* HEADER*/

header{
    background-image: linear-gradient(to right, $primary-color , #3F4E87);
    width:100%;
    height: auto;
    color: $secondary-color;    
    padding:8% 5% 5% 5%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "search"
        "logo";
    h1{
        font-weight: bold;
        font-size: 3.3em;
    }
    p{
        font-size: 1.3em;
    }
    @media only screen and (min-width: $media-768){
        padding:2% 5% 8rem 20%;
        grid-template-columns: 40% 40% 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "search tags mova"
            "logo . .";
    }
}
.logo{
    grid-area:logo;
}

/* HEADER -> MENU*/

.menu{
    list-style: none;
    padding:0;
    .menuitem{
        float:left;
        margin: 2% 5% 0 0;
    }
}
.titulo{
    grid-area: titulo;
}
.tags{
    grid-area:tags;
    line-height: 3;
    display:none;
    @media only screen and (min-width: $media-768){
        display:block;
    }
}
.mova{
    grid-area:mova;
    text-align:right;
    display:none;
    @media only screen and (min-width: $media-768){
        display:block;
    }
}

/* HEADER -> MENU -> SOCIALS*/

.socials{
    padding: 2%;
    i{
        font-size: 2.3em!important;
    }
}

/* HEADER -> MENU -> SEARCH*/

.form-control{
    width:82%;
    align-content: center;
    display: inline-block;
    @media only screen and (min-width: $media-768){
        width:100%;
        display:block;
    }
}
.search{
    grid-area:search;
    i{
        font-size: 150%;
    }
}
/* HEADER -> MENU -> TAG*/

.investimento{
    background-color: $investimento-color;
}
#investimento{
    color: $investimento-color;
    font-weight: bold;
}
.credito{
    background-color: $credito-color;
}
#credito{
    color: $credito-color;
    font-weight: bold;
}
.intercambio{
    background-color: $intercambio-color;
}
#intercambio{
    color: $intercambio-color;
    font-weight: bold;
}
.financiamento{
    background-color: $financiamento-color;
}
#financiamento{
    color: $financiamento-color;
    font-weight: bold;
}
.dividas{
    background-color: $dividas-color;
}
#dividas{
    color: $dividas-color;
    font-weight: bold;
}
.cursos{
    background-color: $cursos-color;
}
#cursos{
    color: $cursos-color;
    font-weight: bold;
}