/* RESET */

*{
    box-sizing: border-box;
}
html{
    font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;
}

a{
    text-decoration:none;
    color: $secondary-color;
    &:hover{
    	color: $secondary-color;
    	text-decoration:none;
	}
}